.box1{
    background-color: #307DC5;
     height: 120px; 
}
.box2{
    background-color: #307DC5;
     height: 60px;
}
.redes{

    font-size: 60px !important;
     color: #B2221A; 
}

.textos{
    color: #F2AA22;
}